/*
Ceci est le css de florian le bg ultime. Je code de mon coté parce que ça fait 3x que quand je pull votre code reset le miens donc bon voilà
*/
* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

:root {
    --background-color-features: #e7e6e0;
    --background-color-edt: #858585;
    --background-color-body: #2e2d2d;
    --text-color: #151313;
    --text-color-white: rgb(170, 189, 197);
    --text-outline: 0.5px rgb(3, 3, 34);
}

.scrollable .accordion-group .accordion-heading a span {
    color: #f2f2f2;
}

.scrollable .accordion-group .accordion-heading a:hover {
    border: 2px solid black;
    transition: 0.1s ease-in;
    color: white;
}

.scrollable,
container-fluid,
.breadcrumb small_margin,
.fc-view-container {
    background-color: var(--background-color-edt);
}

alert alert-info p {
    color: var(--text-color);
}

.social-sidebar {
    font-size: 12px;
    color: var(--text-color-white);
    -webkit-text-stroke: var(--text-outline);
}

.row-fluid {
    background-color: rgb(38, 38, 39);
}

.override {
    background-color: var(--background-color-body);
}

.page-title,
.alert alert-info,
.override2,
.body,
footer,
.footer-sidebar-full,
.well well-condensed {
    background-color: var(--background-color-features);
}

span12 header {
    background-color: #714d95;
}

.span12 .body,
.span12 .table table-bordered table-striped table-condensed,
.tab-pane active .accordion-group {
    background-color: gray;
    color: var(--text-color-white);
    -webkit-text-stroke: var(--text-outline);
}

.span6 header {
    background-color: #714d95;
}

.calendar .fc-view-container .fc-body .fc-widget-content .fc-time-grid-container fc-scroller .fc-time-grid .fc-bg .fc-content-skeleton table tbody tr {
    background-color: red;
}

.main {
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 15px;
    background-color: invert(100%);
}