.override {
    background-color: black
}

.brand
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.page-title

{
    color: white;
}

.alert alert-info
{
    background-color: #363431;
    color: white;
}

