* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

:root {

    --background-color-features: #ededed;
    --background-color-edt: #919191;
    --background-color-body: #272727;
    --text-color: #151313;
}



.scrollable,
container-fluid {
    background-color: var(--background-color-edt);
}

.scrollable .accordion-group .accordion-heading a span {
    color: #f2f2f2;
}

.scrollable .accordion-group .accordion-heading a:hover {
    border: 2px solid black;
    transition: 0.1s ease-in;
    color: white;
}

.breadcrumb small_margin,
.fc-view-container {
    background-color: var(--background-color-edt);
}


.alert alert-info p {
    color: var(--text-color);
    background-color: #333b35;
}

.social-sidebar {
    font-size: 10px;
}

.row-fluid {
    background-color: gray;
}

.page-title {
    color: var(--background-color-features);
}

.alert alert-info {
    color: var(--background-color-features);
}

.override {
    background-color: var(--background-color-body);
}

.override2 {
    background-color: var(--background-color-features);
}

.body {
    background-color: black;
    color: #748077;
}

footer {
    background-color: var(--background-color-features);
}

.footer-sidebar-full {
    background-color: var(--background-color-features);
}

span12 header {
    background-color: #714d95;
}

.span12 .body,
.span12 .table table-bordered table-striped table-condensed,
.tab-pane active .accordion-group {
    background-color: gray;
}


.span6 header {
    background-color: #714d95;
}


.calendar .fc-view-container .fc-body .fc-widget-content .fc-time-grid-container fc-scroller .fc-time-grid .fc-bg .fc-content-skeleton table tbody tr {
    background-color: red;
}

.main {
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 15px;
    background-color: invert(100%);
}

.well well-condensed {
    background-color: var(--background-color-features);
}

.social-box
{
    background-color: #333b35;
}

.well-header
{
    background-color: black;
    color: black;
}

.row-fluid
{
    background-color: black;
}
